# registry=http://npm0.yinhaiyun.com/
#registry=https://repo.huaweicloud.com/repository/npm/
registry=https://registry.npmmirror.com
@yh:registry=http://npm0.yinhaiyun.com/
scripts-prepend-node-path=true
