body {
    margin: 0;
    padding: 0
}

.container {
    color: #000;
    line-height: 1.8;
    word-wrap: break-word;
    word-break: break-all;
    padding: 15px
}

.table-responsive {
    padding: 1px
}

.table-sheet > .table > tbody > tr > td, .table-sheet > .table > tbody > tr > th, .table-sheet > .table > tfoot > tr > td, .table-sheet > .table > tfoot > tr > th, .table-sheet > .table > thead > tr > td, .table-sheet > .table > thead > tr > th {
    white-space: nowrap
}

.table-sheet-wrap > .table {
    table-layout: fixed
}

.table-sheet-wrap > .table > tbody > tr > td, .table-sheet > .table > tbody > tr > th, .table-sheet > .table > tfoot > tr > td, .table-sheet > .table > tfoot > tr > th, .table-sheet > .table > thead > tr > td, .table-sheet > .table > thead > tr > th {
    white-space: normal;
    word-break: break-word
}

.form-control {
    display: inline;
    height: 30px;
    padding: 4px 6px;
    min-width: 28px
}

input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
    min-width: 0
}

.img-responsive {
    display: block;
    margin: 10px auto
}

.h1, h1 {
    font-size: 24px
}

.h2, h2 {
    font-size: 20px
}

.h3, .h4, h3, h4 {
    font-size: 18px
}

.h5, .h6, h5, h6 {
    font-size: 14px
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.8;
    font-weight: 700
}

.font-size-xx-small {
    font-size: 6px
}

.font-size-x-small {
    font-size: 8px
}

.font-size-small {
    font-size: 12px
}

.font-size-normal {
    font-size: 14px
}

.font-size-medium {
    font-size: 16px
}

.font-size-large {
    font-size: 18px
}

.font-size-x-large {
    font-size: 24px
}

.font-size-xx-large {
    font-size: 28px
}

td > p {
    margin: 0
}

.dir-title {
    position: fixed;
    width: 100%;
    display: block;
    background: #f0f0f0;
    text-align: center;
    padding: 8px;
    font-weight: 700
}

.dir-title-bottom {
    height: 40px
}

.btn-dir {
    border: 1px solid #ddd;
    text-align: center;
    position: fixed;
    background: #fff8;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .12);
    color: #000;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px
}

.btn-fs-add {
    border: 1px solid #ddd;
    text-align: center;
    position: fixed;
    background: #fff8;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .12);
    color: grey;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    bottom: 110px;
    right: 20px
}

.btn-fs-minus {
    border: 1px solid #ddd;
    text-align: center;
    position: fixed;
    background: #fff8;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .12);
    color: grey;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    bottom: 65px;
    right: 20px
}

.toc-item {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.toc-item:hover {
    background: #f0f0f0
}

.toc-item-1 {
    padding: 8px 18px;
    font-weight: 700;
    color: #333
}

.toc-item-2 {
    padding: 8px 30px;
    color: #666
}

.md-dir {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh);
    margin: -15px 0;
    overflow: auto
}

.sm-dir {
    display: none;
    width: 100%
}

.bi {
    display: inline-block;
    vertical-align: text-bottom;
    pointer-events: none
}

@-webkit-keyframes bi-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes bi-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}